ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  
}

li {
  padding: .6rem;
  background-color: #bbb9b9;
  border-radius: 15px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #ffffff;
}

