.main_content {
  height: 95vh;
  background: url(../assets/img/search_page.svg) no-repeat bottom center;
  background-size: 50%;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  
}

li {
  padding: .6rem;
  background-color: #bbb9b9;
  border-radius: 15px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #ffffff;
}

