<div class="search">
  <app-search (onEmitSearchTerm)="searchTermChange($event)"></app-search>
</div>
<div class="video_list__select-sort">
  <mat-form-field appearance="fill">
    <mat-label>Order by:</mat-label>
    <mat-select
      [value]="selectedSortItem"
      (selectionChange)="sortHandler($event.value)"
    >
      <mat-option></mat-option>
      <mat-option *ngFor="let sort of sortItems" [value]="sort">
        {{ sort }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="search__content">
  <div *ngFor="let video of videos$ | async">
    <mat-card class="search__content__card">
      <mat-card-title>{{ video.title }}</mat-card-title>
      <mat-card-subtitle>{{ video.publishedAt | date }}</mat-card-subtitle>
      <mat-card-content class="search__content__card-content">
        <p>{{ video.description }}</p>
      </mat-card-content>
      <button
        class="search__content__card__btn"
        mat-stroked-button
        color="primary"
        (click)="addToFavorites(video)"
      >
        Add to favorite
      </button>
    </mat-card>
  </div>
  <button
    *ngIf="isShow"
    class="search__content__btn"
    mat-raised-button
    color="primary"
    (click)="prevVideos()"
  >
    Prev videos
  </button>
  <button
    class="search__content__btn"
    mat-raised-button
    color="primary"
    (click)="nextVideos()"
  >
    Next videos
  </button>
</div>
